    {{! Footer }}
    <footer>
        <div class="row">
            <div class="columns medium-6 medium-push-6">
                &copy; {{date format="YYYY"}} <a href="http://graficos.net" title="Paul Melero | Graficos.net" target="_blank"><span class="graficos">Blog | Graficos.net</span></a>
            </div>
            <div class="columns medium-6 medium-pull-6 right">
                Feel free to contact me on <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#98;&#114;&#97;&#118;&#111;&#64;&#103;&#114;&#97;&#102;&#105;&#99;&#111;&#115;&#46;&#110;&#101;&#116;">&#98;&#114;&#97;&#118;&#111;&#64;&#103;&#114;&#97;&#102;&#105;&#99;&#111;&#115;&#46;&#110;&#101;&#116;</a>
            </div>
        </div>
    </footer>
